<!DOCTYPE html>
<html>

<head>
  
    <link rel="stylesheet" href="css/style.css" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>


    <div class="footer">
        <div class="foot">
         
            &copy; 2024 Your Website
       
        </div>

        <div class="foot">
            <i class='bx bxl-telegram'></i>
            <i class='bx bxl-instagram-alt'></i>
            <i class='bx bxl-facebook-square'></i>
        </div>

    </div>

</body>

</html>